body {
    margin: 0px;
    min-height: 100%;
    background-color: rgb(22, 26, 29);
    overflow-x: hidden;
    color: rgb(245, 243, 244);
}
.unstyle,
.unstyle:after,
.unstyle:hover {
    text-decoration: none;
    color: black;
}
.navigation {
    min-width: 100%;
    padding: 7px;
    background-color: rgb(164, 22, 26);
    display: flex;
    flex-direction: row;
    color: black;
}
.nav-link {
    align-self: center;
    margin-left: 5vw;
    font-size: 18px;
}
.nav-div:hover {
    border-bottom: 5px solid black;
}
.nav-div {
    margin: 30px 0px;
    padding: 30px;
    color: black;
}
h1 {
    margin: 15px 0px;
}
h2 {
    margin-left: 2vw;
}
.App {
    text-align: center;
}
img {
    height: 50vh;
    width: 20vw;
    border: 2px solid rgb(154, 3, 30);
    box-shadow: 0px 0px 25px black;
}
.show-details {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    min-width: 100%;
}
.holder {
    flex-grow: 1;
}
.details {
    padding: 10px 20px;
    text-align: start;
    min-height: 25vh;
    background-color: rgb(164, 22, 26);
}
.show-form {
    min-height: 25vh;
    border-top: 2px solid black;
}
ol {
    padding: 0px;
    margin: 0px;
}
.heading {
    font-weight: bold;
    color: rgb(237, 242, 244);
}
.details div {
    margin-top: 10px;
    color: black;
}
.details h1 {
    color: black;
}
.details ul {
    color: black;
}
.limit {
    max-width: 50vw;
}
.searchbox {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    margin: 5vh 0px 5vh 10vw;
    min-height: 33px;
    min-width: 275px;
    font-size: 21px;
}
.searchbox:focus {
    outline: none;
    border-color: rgb(214, 40, 57);
}
.srch-btn {
    background-color: #eee;
    border: none;
    min-height: 35px;
    position: relative;
    top: 2px;
    left: -40px;
}
.srch-btn:hover {
    transform: scale(1.1);
    border: 2px solid rgb(214, 40, 57);
}
.disp-search {
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 400px;
    margin-left: 2vw;
}
.shelf {
    padding: 5px;
    padding-bottom: 0px;
    min-width: 150px;
    max-width: 150px;
    flex-grow: 1;
}
.shelf div {
    color: rgb(245, 243, 244);
}
.poster-small {
    background-color: red;
    height: 225px;
    width: 95%;
}
.nores {
    display: flex;
    background-color: rgb(154, 3, 30);
    color: black;
    height: 150px;
    font-size: 21px;
    align-items: center;
    justify-content: center;
}
.user-summary {
    background-color: seashell;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 25px 0px;
    padding: 5px 0px;
}
.user-nav {
    font-size: 21px;
}
.select {
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    padding: 5px 25px 0px 25px;
    align-self: center;
    cursor: pointer;
}
.select:hover {
    background-color: gray;
    transform: scale(1.1);
    border-left: 2px solid black;
}
.nav-head {
    display: flex;
    flex-direction: row;
}
.logout {
    margin-left: 75vw;
    position: relative;
    top: -60px;
}
.delete {
    margin-left: 85vw;
    position: relative;
    top: -97px;
}
.user-form {
    margin-left: 40vw;
    margin-top: 15vh;
    height: 500px;
    width: 500px;
    padding: 25px;
}
.err {
    width: fit-content;
}
label {
    font-size: 21px;
}
.form-icons {
    display: flex;
    flex-direction: row;
    margin: 25px 25px 0px 0px;
}
.watched-form {
    float: left;
}
